body {background-color: rgb(167, 188, 216);}
h2 {font-family: 'Lexend', sans-serif;}
h2 {text-shadow: 6px 6px 7px rgba(90, 95, 103, 0.875);
text-decoration: underline;}
#nav-table {width: 100%;}
#nav-td {text-align: center; background-color: #6aaff9; 
padding: 5px 20px; border-radius: 30px; 
box-shadow: 6px 2px 4px rgb(21, 51, 90), -6px 2px 4px rgb(21, 51, 90)}
#nav-td {cursor: pointer;}
#bannerimg {width: 100%;}